# Переделайте под себя если планируете использовать
[Unit]
Description=Panchan Cards bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/panchan/Panchan-cards
EnvironmentFile=/home/panchan/Panchan-cards/.env
ExecStartPre=/usr/bin/git -C /home/panchan/Panchan-cards pull
ExecStart=/home/panchan/Panchan-cards/venv/bin/python -m bot
KillMode=process
Restart=always
RestartSec=10
User=panchan

[Install]
WantedBy=multi-user.target