# Переделайте под себя если планируете использовать
[Unit]
Description=Panchan Cards bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/panchaniche/Panchan-cards
EnvironmentFile=/home/panchaniche/Panchan-cards/.env
ExecStartPre=/usr/bin/git -C /home/panchaniche/Panchan-cards pull
ExecStart=/home/panchaniche/Panchan-cards/venv/bin/python -m bot
KillMode=process
Restart=always
RestartSec=10
User=panchaniche

[Install]
WantedBy=multi-user.target